<footer class="footer">
    <div class="container wow fadeIn">
        <img src="/images/logo-w.png" alt="Image">
        <% if (langCookieValue === 'en') { %>
            <h2>Don't hesitate and<br>talk to us?</h2>
        <% } else { %>
            <h2>لا تتردد ... <br>وتواصل معنا </h2>
        <% } %>
        <h5> <%= t('say_hello') %> <a href="mailto:<%= globals.contactEmail %> " class="text-light"><%= globals.contactEmail %> </a></h5>
        <ul>
            <li><a href="#"><i class="fa fa-facebook"></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
        <span>© <%= new Date().getFullYear() %>  <%= globals.siteName %> | <%= t('copyright') %></span>
    </div>
    <!-- end container -->
</footer>
<div class="mouse-cursor cursor-outer" style="visibility: visible; transform: translate(813px, 517px);">
</div>
<div class="mouse-cursor cursor-inner" style="visibility: visible; transform: translate(992px, 69px);">
</div>