<nav class="navigation-menu">
    <div class="green-layer"></div>
    <div class="black-layer"></div>
    <div class="inner">
        <ul>
            <li><a href="/"><%= t('home') %></a>

            </li>
            <li><a href="/portfolio"><%= t('portfolio') %></a></li>
            <li><a href="#"><%= t('about') %></a>

            </li>
            <li><a href="/contact"><%= t('contact') %></a></li>
            <li><a href=""><%= t('services') %></a></li>
        </ul>
        <address>
            <a href="mailto:globals.contactEmail" class="text-light"><%= globals.contactEmail %> </a><br>
            <br><a href="tel:globals.phoneNumber" class="text-light"><%= globals.phoneNumber %></a>
        </address>
        <ul class="nav-social">
            <li><a href="#"><i class="fa fa-facebook "></i></a></li>
            <li><a href="#"><i class="fa fa-twitter"></i></a></li>
            <li><a href="#"><i class="fa fa-behance"></i></a></li>
            <li><a href="#"><i class="fa fa-google-plus"></i></a></li>
            <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
        </ul>
    </div>
    <!-- end inner -->
</nav>
<!-- end navigation-menu -->
<nav class="navbar position-fixed" >
    <div class="logo"> <a href="/"><img src="/images/logo-w.png" alt="Image"></a> </div>
    <!-- end logo -->
    <div class="email-us"><%= t('say_hello') %> <a href="mailto:<%= globals.contactEmail %>"><%= globals.contactEmail %></a></div>
    <!-- end email-us -->

    <div class="languages">
        <a href="/language/en" class="<%= (langCookieValue === 'en') ? 'active' : '' %>">EN</a>
        <a href="/language/ar" class="<%= (langCookieValue === 'ar') ? 'active' : '' %>">عربي</a>
    </div>
    <!-- end languages -->
    <div class="sandwich-nav"> <b><%= t('menu') %></b>
        <div class="sandwich-btn circle" id="sandwich-btn" data-dist="7"> <span></span> <span></span> </div>
        <!-- end sandwich-btn -->

    </div>
    <!-- end sandwich-nav -->
</nav>
