<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>

    <body>
        <%- include("./partials/preloader.ejs") %>
            <!-- end transition-overlay -->
            <!-- navbar -->
            <%- include("./partials/nav.ejs") %>

                <header class="page-header">
                    <div class="video-bg">
                        <video src="videos/video.mp4" autoplay muted loop></video>
                    </div>
                    <!-- end video-bg -->
                    <div class="inner">
                        <h2 data-text="<%= t('portfolio') %>">
                            <%= t('portfolio') %>
                        </h2>
                        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ipsa, placeat possimus? Dolores
                            aliquid rerum quas.</p>
                    </div>
                    <!-- end inner -->
                    <ul class="social-media">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                    <div class="scroll-down"><b>SCROLL DOWN</b><span></span></div>
                    <!-- end scroll-down -->
                </header>
                <div class="page-header-spacing"></div>
                <main>
                    <section class="works">
                        
                        <!-- end container -->
                        <ul>
                            <% projects.forEach(function(project) {  %>

                                <li class="wow fadeInUp">
                                    <figure> 
                                        <a href="/portfolio/<%= project.slug %>/details">
                                        <img src="<%= project.coverImage.replace('public' , '' ) %>"" alt="Image" 
                                        height="300"
                                        class="thumb">
                                            
                                        </a>    
                                    </figure>
                                </li>

                           <%  } ) %>
                           
                            
                        </ul>
                    </section>
                    <!-- end works -->

                    <%- include("./partials/footer.ejs") -%>
                        <!-- end footer -->
                </main>
                <%- include("./partials/scripts.ejs") -%>
    </body>

</html>