<!DOCTYPE html>
<html lang="en">
<%- include("./partials/head.ejs") %>
    <body>
        <%- include("./partials/preloader.ejs") %>
            <%- include("./partials/nav.ejs") %>
                <header class="page-header">
                    <div class="video-bg">
                        <video src="/videos/video.mp4" autoplay muted loop></video>
                    </div>
                    <!-- end video-bg -->

                    <% if (langCookieValue === 'en' ) { %> 
                        <div class="inner">
                            <h2 data-text="<%= project.english_name %>">
                                <%= project.english_name %>
                            </h2>
                            <p><%= project.english_description %></p>
                        </div>
                    <%  } else { %>

                        <div class="inner">
                            <h2 data-text="<%= project.arabic_name %>">
                                <%= project.arabic_name %>
                            </h2>
                            <p><%= project.arabic_description %></p>
                        </div>
                        <%  } %>
                    <!-- end inner -->
                    <ul class="social-media">
                        <li><a href="#"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="#"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="#"><i class="fa fa-dribbble"></i></a></li>
                        <li><a href="#"><i class="fa fa-linkedin"></i></a></li>
                        <li><a href="#"><i class="fa fa-youtube-play"></i></a></li>
                    </ul>
                    <div class="scroll-down"><b>SCROLL DOWN</b><span></span></div>
                    <!-- end scroll-down -->
                </header>

                <div class="page-header-spacing"></div>
                <main>
                    <section class="case-details">
                        
                        <div class="container">
                            <div class="row">
                                <div class="col-12 wow fadeInUp" id="case-section-1">
                                    
                                    <h6></h6>
                                    
                                </div>
                                <!-- end col-12 -->
                                <div class="col-12 wow fadeInUp">
                                    <figure><img src="<%= project.coverImage.replace('public' , '') %>" alt="Image"></figure>
                                </div>
                                <!-- end col-12 -->
                                <!-- Other images  -->
                                <% project.images.forEach(function(image){ %>
                                <div class="col-md-6 wow fadeInUp">
                                    <figure><img src="<%= image.replace('public' , '') %>" alt="Image"></figure>

                                </div>
                                <% }) %>
                              
                                <!-- end other images -->
                               
                        </div>
                        <!-- end container -->
                    </section>
                    <%- include("./partials/footer.ejs") -%>
                </main>
                <%- include("./partials/scripts.ejs") -%>
    </body>

</html>